{% extends 'base.html.twig' %}

{% block title %}Armes
{% endblock %}
{% block monTitre %}Liste des armes
{% endblock %}

{% block body %}
	<table class="table">
		<tr class="thead">
			<th>Image</th>
			<th>Nom</th>
			<th>Déscription</th>
			<th>Dégât</th>
		</tr>
		{% for arme in armes %}
			<tr>
				<th><img src="{{ asset('images/armes/' ~ arme.nom | lower ~ '.png') }}"></th>
				<td><a>{{ arme.nom }}</</td>
				<td>{{ arme.description }}</td>
				<td>{{ arme.degat }}</td>
			</tr>
		{% endfor %}


	</table>
{% endblock %}
