{% extends 'base.html.twig' %}

{% block title %}Armes{% endblock %}
{% block monTitre %}Liste des armes{% endblock %}

{% block body %}
<table class="table">
<tr class="thead">
<td>Image</td>
<td>Nom</td>
<td>Déscriptif</td>
<td>Dégât</td>

</tr>
</div>
</table>
{% endblock %}

		<tr class="thead-dark">
			<th>Image</th>