{% extends 'base.html.twig' %}

{% block title %}Armes
{% endblock %}
{% block monTitre %}Liste des armes
{% endblock %}

{% block body %}
	<table class="table">
		<tr class="thead">
			<th>Image</th>
			<th>Nom</th>
			<th>Déscriptif</th>
			<th>Dégât</th>
		</tr>
		{% for item in armes %}
			<tr class="thead">
				<th><img src="{{ asset('images/armes/' ~item.nom }}"></th>
				<th>{{ item.nom }}</th>
				<th>{{ item.descriptif }}</th>
				<th>{{ item.degat }}</th>
			</tr>
		{% endfor %}


	</table>
{% endblock %}
